.traveler-dashboard {
  @include flex(row, space-around, center);
  display: none;
  width: 100%;
  height: 100%;
}

.add-trip-sidebar {
  @include flex(column, null, center);
  width: 20%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  position: relative;
  right: 1.2em;

  form {
    @include flex(column, space-between, center);
    height: 80%;
    div {
      @include flex(column, flex-start, center);
      height: fit-content;
    }

    label {
      margin-top: 1em;
      height: fit-content;
    }

    button {
      width: 90%;
      height: 5em;
      margin-top: 3em;
      color: white;
      background-color: $nav-background;
    }

    input {
      width: 90%;
      height: 4em;
      margin-top: 2em;
    }

    select {
      @extend input;
      height: 4em;
    }
  }
}

.date-label {
  margin-left: 2em;
}

.traveler-data-section {
  @include flex(column, space-between, center);
  width: 70%;
  height: 100%;
  margin-right: 4em;
}

.travelerFlex {
  @include flex(row, space-around, center)
}

.traveler-data-row {
  @include flex(column, space-between, flex-start);
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: scroll !important;
  border: 1px solid black;
  margin-top: 1em;
}

.trip-cards {
  @include flex(row, space-between, center)
  height: 100%;
  width: fit-content;
}
