.trip-card {
  @include flex(column, center, center);
  width: 15em;
  height: 10em;
  border: 1px solid black;
  margin-left: 1em;
}

.card-data {
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

ul {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.5);
  @include flex(column, center, center);
  width: 13em;

  li {
    height: fit-content;
    margin-bottom: .2em;
  }
}

.card-background {
  z-index: 0;
  width: 6em;
  height: 4em;
}

.trip-card-pending-agent {
  @include flex(column, center, center);
  width: 16em;
  height: 12em;
  border: 1px solid black;
  margin-top: 1em;
}

.agent-trip-card {
  @include flex(column, center, center);
    width: 16em;
    height: 9.5em;
    border: 1px solid black;
    margin-left: 1em;
    font-size: .9em;

    img {
      width: 5em;
      height: 3em;
    }
}